/* Common Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 18px;
}
body {
  font-family: "Bai Jamjuree", sans-serif;
}

/* Colors */
:root {
  /* Primary */
  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);
  /* Neutral */
  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
}

/* Typhography*/
h1,
h2 {
  color: var(--Dark-Grayish-Blue);
  text-align: center;
  font-weight: 600;
}
h1 {
  font-size: 1.6rem;
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 1.2rem;
}
h2 {
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 0.7rem;
}
p {
  color: var(--Grayish-Blue);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 2.2rem;
}

/* Button */
button {
  border: 0;
  border-radius: 2rem;
  outline: 0;
  font-size: 0.9rem;
  font-weight: 600;
  min-width: 78%;
  height: 2.8rem;
  margin: 0.6rem auto;
}
.btn--ios,
.btn--mac {
  margin-right: 0.8rem;
  margin-left: 00.8rem;
  color: #ffff;
}
.btn--ios {
  background-color: var(--Strong-Cyan);
}
.btn--mac {
  background-color: var(--Light-Blue);
}

/* WebPage Sections */
/* Hero Section */
.hero {
  background-image: url(./images/bg-header-mobile.png);
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  margin-bottom: 5rem;
}
.hero__logo {
  width: 7rem;
  padding-top: 5.2rem;
  margin-bottom: 3.2rem;
}

/* Snippets Section */
.snippets {
  margin-bottom: 5rem;
}
.snippets__image {
  display: block;
  max-width: 84%;
  margin: 0 auto;
}

/* Access section */
.access {
  margin-bottom: 4rem;
}
.access__image {
  display: block;
  max-width: 88%;
  margin: 0 auto;
}

/* Uses Section */
.uses {
  margin-bottom: 4rem;
}
.uses > img {
  display: block;
  margin: 0 auto;
}

/* Companies Section */
.companies {
  margin-bottom: 5rem;
}
.companies__logos {
  width: 8rem;
}
.companies > img {
  display: block;
  margin: 0 auto;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

/* Download Section */
.download {
  text-align: center;
  margin-bottom: 5rem;
}

/* Footer Section */
footer {
  text-align: center;
}
.footer__logo {
  max-width: 3rem;
  margin-bottom: 0.8rem;
}
.footer__links > li {
  color: var(--Grayish-Blue);
  font-size: 1rem;
  font-weight: 600;
  list-style-type: none;
  margin-top: 1rem;
  margin-bottom: 1.4rem;
}
.footer__media {
  display: inline-flex;
  gap: 2rem;
  margin-top: 1.6rem;
  margin-bottom: 3rem;
}

/* Media Queary */
