/* Common Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 18px;
}
body {
  font-family: "Bai Jamjuree", sans-serif;
}

/* Colors */
:root {
  /* Primary */
  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);
  /* Neutral */
  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
}

/* Typhography*/
h1,
h2 {
  color: var(--Dark-Grayish-Blue);
  text-align: center;
  font-weight: 600;
}
h1 {
  font-size: 1.6rem;
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 1.2rem;
}
h2 {
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 0.7rem;
}
p {
  color: var(--Grayish-Blue);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 2.2rem;
}

/* Button */
button {
  border: 0;
  border-radius: 2rem;
  outline: 0;
  font-size: 0.9rem;
  font-weight: 600;
  min-width: 78%;
  height: 2.8rem;
  margin: 0.6rem auto;
}
.btn--ios,
.btn--mac {
  margin-right: 0.6rem;
  margin-left: 0.6rem;
  color: #ffff;
}
.btn--ios {
  background-color: var(--Strong-Cyan);
  border-bottom: 3px solid hsl(171, 66%, 37%);
  box-shadow: 0 5px 15px rgba(27, 131, 115, 0.4);
}
.btn-ios:hover {
  opacity: 0.8;
}
.btn--mac {
  background-color: var(--Light-Blue);
  border-bottom: 3px solid hsl(233, 63%, 59%);
  box-shadow: 0 5px 15px rgba(68, 81, 175, 0.4);
}
.btn-mac:hover {
  opacity: 0.8;
}

/* WebPage Sections */
/* Hero Section */
.hero {
  background-image: url(./images/bg-header-mobile.png);
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  margin-bottom: 5.8rem;
}
.hero__logo {
  width: 7rem;
  padding-top: 5.2rem;
  margin-bottom: 3.2rem;
}

/* Snippets Section */
.snippets {
  margin-bottom: 5.8rem;
}
.snippets__image {
  display: block;
  max-width: 84%;
  margin: 0 auto;
}

/* Access section */
.access {
  margin-bottom: 5.8rem;
}
.access__image {
  display: block;
  max-width: 88%;
  margin: 0 auto;
}

/* Uses Section */
.uses {
  margin-bottom: 5.4rem;
  text-align: center;
}
#uses--space {
  margin-bottom: 2.6rem;
}
.uses > img {
  display: block;
  margin: 0 auto;
}

/* Companies Section */
.companies {
  margin-bottom: 5.4rem;
}
.companies__logos {
  width: 8rem;
}
.companies > img {
  display: block;
  margin: 0 auto;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

/* Download Section */
.download {
  text-align: center;
  margin-bottom: 5rem;
}

/* Footer Section */
.footer__bg {
  background-color: rgb(248, 248, 248);
  padding: 1rem 0;
}
footer {
  text-align: center;
}
.footer__logo {
  max-width: 3rem;
  margin-bottom: 0.8rem;
}
.footer__links > li {
  color: var(--Grayish-Blue);
  font-size: 1rem;
  font-weight: 600;
  list-style-type: none;
  margin-top: 1rem;
  margin-bottom: 1.4rem;
}
.footer__media {
  display: inline-flex;
  gap: 2rem;
  margin-top: 1.6rem;
  margin-bottom: 3rem;
}

/* Media Queary */
/* 620 width */
@media screen and (min-width: 620px) {
  h1 {
    font-size: 1.8rem;
    max-width: 58%;
  }
  h2 {
    font-size: 1.6rem;
  }
  p {
    font-size: 1rem;
    max-width: 58%;
  }
  button {
    min-width: 34%;
    height: 3.4rem;
  }
  .hero {
    background-image: url(./images/bg-header-desktop.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 10rem;
  }
  .hero > p {
    margin-bottom: 3.2rem;
  }
  .snippets {
    margin-bottom: 10rem;
  }
  #snippets__spacing--desktop {
    margin-bottom: 4rem;
  }
  .access {
    margin-bottom: 7rem;
  }
  .uses {
    margin-bottom: 7rem;
  }
  .companies {
    margin-bottom: 10rem;
  }
  .download {
    margin-bottom: 7rem;
  }
  .footer__links > li {
    font-size: 0.9rem;
    white-space: nowrap;
  }
  .footer__logo {
    max-width: 3.4rem;
  }
  .footer__media > img {
    min-width: 1.6rem;
  }
}

/* 720 width */
@media screen and (min-width: 720px) {
  .snippets__image {
    max-width: 78%;
  }
  .companies__logos {
    max-width: 6.4rem;
  }
}

/* 860 width */
@media screen and (min-width: 860px) {
  .hero > p {
    margin-bottom: 4.2rem;
  }
  button {
    min-width: 28%;
  }
  .snippets__grid {
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
  }
  .snippets__image {
    margin-left: -2rem;
    max-width: 98%;
  }
  .snippets__content > h2 {
    font-size: 1.2rem;
  }
  .snippets__content > p {
    font-size: 0.9rem;
  }
  .uses__grid {
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;
    align-items: center;
  }
  .uses__grid__section {
    text-align: center;
  }
  .companies {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* 986 width */
@media screen and (min-width: 986px) {
  button {
    min-width: 26%;
  }
  .companies__logos {
    max-width: 7.6rem;
  }
  footer {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10rem;
    place-content: center;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
  }
  ul {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
    gap: 0rem 2rem;
  }
  ul > li {
    text-align: left;
  }
}

/* 1120 width */
@media screen and (min-width: 1120px) {
  button {
    min-width: 22%;
  }
}
